*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lekton', sans-serif;
}
body a{
    text-decoration: none;
}

nav{
    /* background-color: #4c4d4d; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav p{
    font-size: 20px;
    margin-left: 10%;
}

.social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.2em;
    color: white;
    margin-right: 10%;
}

.social a{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 10%;
    color: white;
    transition: .5s all ease-in-out;
}

.social a:hover{
   color: #604fdd;
   transform: scale(1.2);
}



.welcome{
    background-image: url("background2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.shadow_box{
    background-color:rgba(0,0,0,.66);
    width: 100%;
    height: 100vh;
}

.welcome_content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5rem;
    text-align: center;
}

.welcome_content img{
    width: 20%;
    border-radius: 200px;
    margin-top: 20%;
}

.welcome_content p{
    margin: 0 0 2% 0;
}







.welcome_content a button{
    padding: 10px 30px;
    border-radius: 200px;
    color: royalblue;
    font-size: 1.3rem;
    border: 3px solid royalblue;
    background-color:rgba(0,0,0,.1);
    font-weight: bolder;
    transition: .5s all;
}

.welcome_content button:hover{
    color: white;
    background-color: royalblue;
}

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    margin-right: 10%;
}

.navBar a{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 5%;
    color: white;
    font-size: 1.2em;
    transition: .5s all ease-in-out;
    position: relative;
}

.navBar a::before{
    position: absolute;
    width: 0%;
    height: 5%;
    content: "";
    background-color: red;
    top:80%;
    left:0%;
    transition: .5s all ease-in-out;

}
.navBar a:hover::before{
    width: 100%;
}


.navBar a:focus{
    color: #604fdd;
}

