*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.nav{
    display: none;
}
.box{
    background-image: url("mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.landing{
    width: 80%;
    padding-bottom: 20px;
}

.landcontent{
    width: 90%;
    margin-top: 10%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landcontent img{
    width: 70%;
    border-radius: 130px;
}
.nume{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px
}

.landcontent h1{
    font-size: 30px;
    color: white;
    margin-bottom: 5%;
}

.landcontent .nume h2{
    font-size: 30px;
    color: rgb(236, 33, 33);
}

.landcontent p{
    color: white;
    font-size: 25px;
}

.bio h2{
    font-size: 25px;
}

.about{
    width: 80%;
}
main .bio .img img{
    width: 60%;
}
.about{
    font-size: 25px;
}


#link1{
    overflow: hidden;
}
 #link1 a{
    background-color: #363636;
    padding: 20px 35px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s;
    position: relative;
}
#link1 a:hover{
    background-color: red;
}

#link1 a::before{
    content: " ";
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s;
}
#link1 a:hover::before{
    transform: translate(100%) rotate(45deg);
}








#link2{
    overflow: hidden;
}
 #link2 a{
    background-color: #363636;
    padding: 20px 35px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s;
    position: relative;
}
#link2 a:hover{
    background-color: red;
}

#link2 a::before{
    content: " ";
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s;
}
#link2 a:hover::before{
    transform: translate(100%) rotate(45deg);
}






footer{
    margin-top: 5%;
    text-align: center;
    background-color: lightgray;
}
/* git config --global user.email "you@example.com"
  git config --global user.name "Your Name" */

@media (min-width: 720px) and (max-width:900px){

    .details{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #mail{
        font-size: 22px;
    }
}


@media (min-width:900px){

        .nav{
        width: 50%;
        display: block;
        /* border: 2px solid red; */
    }
    .nav ul a{
        text-decoration: none;
        transition: all .2s;
        position: relative;
    }
    .nav ul a::before{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 10%;
        background-color: red;
        transition: all .6s;
    }
    .nav ul a:hover::before{
        width: 100%;
        left: 0;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        /* border: 2px solid red; */
    }
    .nav ul li{
        font-size: 30px;
        color: white;
        font-weight: bolder;
        transition: all .6s;
    }
    .nav ul li:hover{
        color: red;
    }
    

    .landcontent{
        margin-top: 3%;
    }


    .landcontent img{
        width: 40%;
        border-radius: 200px;
    }
    .landcontent h1{

        margin-bottom: 0px;
    }
    
    .landcontent .nume h2{
        margin-bottom: 0px;
    }





    .cutie{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "img about";
    }

    .details{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #mail{
        font-size: 22px;
    }
    main .bio .img img{
        width: 90%;
    }

    .img{
        grid-area: img;
    }

    .about{
        grid-area:about;
    }

    footer{
        margin-top: 5%;
        text-align: center;
        background-color: lightgray;
    }
}